<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>MX-Pays-de-Loire</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    <link rel="stylesheet" href="{{ asset('.../css/style.css') }}">

    <!-- Skins -->
    <link rel="stylesheet" href="{{ asset('../../../web/css/skins/purple.css')}}">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="{{ asset('../../../web/css/responsive.css') }}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('../../../web/images/favicon.png') }}">

</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>