{% extends 'base.html.twig' %}

{% block inscription %}

<h1><strong>Fiche d'inscription</strong></h1>

<form action="{{ path('inscription') }}" method="post">
    <label for="nom">Nom :</label>
    <input type="text" name="nom"/>

    <label for="prenom">Prénom :</label>
    <input type="text" name="prenom"/><br><br>

    <label for="dateNaissance">Date de Naissance :</label>
    <input type="date" name="dateNaissance">

    <label for="adresse">Adresse :</label>
    <input type="text" name="adresse"><br><br>

    <label for="cp">CP :</label>
    <input type="text" name="cp">

    <label for="ville">Ville :</label>
    <input type="text" name="ville"><br><br>

    <label for="telephone">Téléphone :</label>
    <input type="tel" name="telephone"><br><br>

    <label for="pseudo">Pseudo :</label>
    <input type="text" name="pseudo">

    <label for="mdp">Mot de passe :</label>
    <input type="password" name="mdp"><br><br>

    <label for="mail">Mail :</label>
    <input type="email" name="mail"><br><br>

    <label for="club">Club :</label>
    <input type="text" name="club">

    <label for="licenceUfolep">Licence UFOLEP :</label>
    <input type="text" name="licenceUfolep"><br><br>

    <label for="casm">CASM :</label>
    <input type="text" name="casm">

    <label for="permisMoto">Permis Moto :</label>
    <input type="text" name="permisMoto"><br><br>

    <label for="numDossard">Numéro de dossard :</label>
    <input type="text" name="numDossard"><br><br>

    <input type="submit" value="Valider"/>
</form>

{% endblock %}